.navbar-brand{
    margin-left: 12%;
}
#togglemenu{
    margin-right: 12%;
  
    
}
.nav-link{
    margin: 10px;
}
body{
    background-color:white;
    color:black 
 }
.mydark{
    background-color:black;
    color:white  
 }

*{
    font-family: 'Poppins', sans-serif;
   
 }
 
 .row{
     margin-left: 40px;
 }
 .card{
     /*box-shadow: 1px 1px 10px gray;*/
     float: left;
     margin: 20px;
    
     background-color: #00000025;

    
 }
.bi-heart-fill{
    color: #0f0;
    font-size: 50px;
}




 .card:hover{
   
    box-shadow: 1px 1px 22px gray;
 }
 .card-title{
     font-weight: bold;
 }

.bi-hexagon-fill{
    color: #0f0;
    font-size: 12px;
}
.testimonals > .row{
    margin-top: 30px;
}
.col-md-4{
    margin: 40px auto;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #61cabc;
    border-radius: 20px;
}
.profile > h3{
    margin-top: 15px;
}
#speak{
    height: 800px;
    
   
}
a{
    text-decoration: none;
}
footer{
    background-color: #4e5668;
    color: white;
}
.upwala{
    color: white;
    font-size: 25px;
    
}
.upwala{
    margin-top: -40px;
}
.col-md-4 > p {
    color: white;
}
.me-4 > i  {
    color: white;
}
.forwhite , .fas {
    color: white;
}
.whitewala{
    color: white;
    font-size: 25px;
}
.fab{
  
    font-size: 22px;
}
.eww{
    color: white;
}


 
    

  
  


